$grey: #CECECE
$moregrey: #AEAEAE
$yellow: #DEE06F
$green: #80F4DA
$darkgrey: #444
$black: #212121
//SERVICES PAGE SERVICES PAGE SERVICES PAGE
header
  //obs will be different
  margin: 100px

#services
  //main element
  ul
    //the tabs
    width: 100%
    max-width: 1000px
    margin: 0
    padding: 0
    display: flex
    flex-flow: row
    flex-wrap: nowrap
    justify-content: space-between
    background-color: $grey
    color: $darkgrey

    svg
      width: 1em
      height: 1em
      fill: $darkgrey
      transform: translateY(2px)
    li
      margin: 0 0px
      padding: 20px 0
      list-style: none
      background-color: $grey
      border-bottom: 3px solid $moregrey
      cursor: pointer
      flex-grow: 1
      &:hover
        fill: black
        color: black
        text-shadow: 0 0 1px white
    .active
      background-color: white
      border-bottom: 4px solid $yellow
      color: black
      svg
        fill: darken($yellow, 13%)



  section
    //6 siblings to UL class of:service-details
    width: 100%
    max-width: 1000px
    background-color: white
    height: 460px
    overflow: scroll
    margin: 0 auto
    position: absolute
    border-bottom: 3px solid $moregrey
    display: flex
    flex-wrap: wrap
    justify-content: space-around

    &.selected
      z-index: 10
    div
      height: 300px
      width: 300px
      background-color: lighten($grey, 10%)
      color: darken($green, 38%)
      border-radius: 50%
      text-align: center
      display: flex
      flex-wrap: wrap
      align-content: center
      align-items: center
      align-self: center
      justify-content: center
      a
        color: inherit
    img
      display: inline-block
    p
      margin: 50px
      flex-basis: 100%


footer
  margin-top: 600px
