//variables

$green: #80F4DA
$yellow: #DEE06F
$red: #FF587F
$linkblue: #2234a5
$grey: #CECECE
$darkgrey: #444
$black: #212121

$sans: 'Raleway', sans-serif
$titillium: 'Titillium Web', sans-serif
$roboto: 'Roboto'

body
  font-family: $sans
  text-align: center
section
  text-align: center
  margin: 0 auto
  width: 90%
  max-width: 1200px

h2
  //section titles
  width: 100%
  font-size: 1.4rem
  font-weight: 700
  font-family: $titillium
  margin-top: 50px
h3
  //services titles
  font-family: $roboto
  font-weight: 300
  color: lighten($red, 12%)
  background-color: $black
  margin: 0 0 20px
  line-height: 185%
  position: absolute
  top: 0
  width: 100%
  right: 0
  transition: left .5s cubic-bezier(0.905, 0.125, 1.000, 1.000), right .5s cubic-bezier(0.905, 0.125, 1.000, 1.000)
.shadow-title
  left: -100%
  color: $black
  background-color: $red

.services
  display: flex
  flex-flow: row
  flex-wrap: wrap
  justify-content: center
.services-container
  width: 30%
  margin: 1%
  min-width: 150px
  border: 3px solid $red
  border-top: 0
  position: relative
  background-color: white
  cursor: pointer
  overflow: hidden
  p
    margin: 46px 5px 23px
    text-indent: 2rem
  &:hover
    h3
      right: -100%
      transition: left .7s cubic-bezier(0.905, 0.125, 1.000, 1.000), right .7s cubic-bezier(0.905, 0.125, 1.000, 1.000)
    .shadow-title
      left: 0

.project-container
  display: flex
  flex-flow: row
  align-items: center
  margin: 40px auto
  p
    flex-basis: auto
    padding: 15px
    line-height: 1.53rem
  &:nth-child(even)
    flex-flow: row-reverse
.project-image
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  height: 400px
  flex-shrink: 0
  max-width: 600px
  min-width: 225px
  flex-basis: 60%
.insight
  background-image: url('../assets/images/insight.png')
.simon
  background-image: url('../assets/images/simon.png')
.menuboard
  background-image: url('../assets/images/menuboard.png')
@media (max-width: 768px)
  section
    width: 100%
  .projects
    flex-flow: column-reverse
  .services-container
    width: 80%
    margin: auto
  .project-container
    flex-flow: column-reverse !important
  .project-image
    width: 100%
@media (min-width: 769px) and (max-width: 1000px)
  .services-container
    width: 47%
